[submodule "darknet"]
	path = frameworks/darknet
	url = https://github.com/icemelon9/darknet.git
	branch = nexus
[submodule "caffe"]
	path = frameworks/caffe
	url = https://github.com/icemelon9/caffe.git
	branch = nexus
[submodule "tensorflow"]
	path = frameworks/tensorflow
	url = https://github.com/icemelon9/tensorflow.git
	branch = nexus
